---
title: Welcome to Agnes
---

.wrapper
  .header.py-6
    .flex.items-center.justify-between.mx-auto.px-4
      .name
        %h1
          %a.no-underline{href: "index.html#images"} AK
      .links
        %ul.flex.items-center.list-reset
          %li.m-4
            %a.no-underline.text-white.hover:text-black{href: "index.html#aboutme"} About me
          %li.m-4
            %a.no-underline.text-white.hover:text-black{href: "index.html#projects"} Projects
          %li.m-4
            %a.no-underline.text-white.hover:text-black{href: "index.html#contact"} Contact


  .images#images
    .image-text
      %h1 Agnes Konradsdottir
      %p.title Bootcamper
      %p.skills HTML - CSS - JavaScript - Ruby


  .resume.animated.pulse#resume
    .center
      %h3
        %span Are you recruiting? You'r welcome to take a look at my resume.
        %span
          %a.no-underline.font-bold.py-2.px-4.rounded.bg-blue.text-black.hover:bg-blue-dark{href: "#"} View Resume


  .aboutme#aboutme
    %h3 Who am I
    - data.me.each do |me|
      %h3= me[:description]


  .projects#projects
    %h1 My Projects
    .projects-cards
      .empty
      .project-card
        - data.projects.each_with_index do |project, index|
          %div{class: "project-\#{index}"}
            .portfolio-wrapper.animate-in{style: "background-image: url(#{ project[:image] })"}
              .hover-layer
                .hover-layer-content
                  %h2= project[:name]
                  %a{href: "#{project[:link]}"} View project on Github
                  %p= project[:description]

  .contact#contact
    .center
      %h3
        %span You can contact me at:
        %span
          %a.no-underline.font-bold.py-2.px-4.rounded.bg-blue.text-black.hover:bg-blue-dark{href: "mailto:agneskonradsdottir@gmail.com"} Click to email
          %a.no-underline.font-bold.py-2.px-4.rounded.bg-blue.text-black.hover:bg-blue-dark{href: "https://www.linkedin.com/in/agneskonradsdottir"} Linkedin

  .footer
    .flex.flex-row-reverse
      - data.skills_logos.each do |logo|
        %a{href: "#{logo[:link]}"}
          %img{src: "#{logo[:logo]}"}/

